<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="EclipseMatrix.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Eclipse Matrix Preferences"
            class="eclipsematrix.preferences.EclipseMatrixPreferencePage"
            id="eclipsematrix.preferences.EclipseMatrixPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eclipsematrix.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="Sample Page"
            nameFilter="*.*"
            class="eclipsematrix.properties.SamplePropertyPage"
            id="eclipsematrix.properties.samplePropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Matrix"
            id="EclipseMatrix">
      </category>
      <view
            name="MQL Console"
            icon="icons/sample.gif"
            category="EclipseMatrix"
            class="eclipsematrix.views.MQLView"
            id="eclipsematrix.views.MQLView">
      </view>
      <view
            category="EclipseMatrix"
            class="eclipsematrix.views.CheckInView"
            icon="icons/sample.gif"
            id="eclipsematrix.views.CheckInView"
            name="Check In View">
      </view>
      <view
            category="EclipseMatrix"
            class="eclipsematrix.views.View"
            icon="icons/sample.gif"
            id="eclipsematrix.views.View"
            name="TestView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="eclipsematrix.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      		adaptable="true"
            id="EclipseMatrix.contribution1"
            nameFilter="*_mxJPO.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="EclipseMatrix.menu1"
               label="JPO Checkin"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="eclipsematrix.popup.actions.CheckinAction"
               definitionId="CheckinAction"
               enablesFor="+"
               id="EclipseMatrix.newAction"
               label="JPOCheckin"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:eclipsematrix.views.View">
         <command
               commandId="eclipsematrix.checkin.toolbar.jpoCheckin"
               label="Add JPO&apos;s"
               style="push">
         </command>
         <command
               commandId="eclipsematrix.checkin.toolbar.uiCheckin"
               label="Add UI"
               style="push">
         </command>
         <command
               commandId="eclipsematrix.checkin.toolbar.dmCheckin"
               label="Add DM"
               style="push">
         </command>
         <command
               commandId="eclipsematrix.checkin.toolbar.enableMonitoring"
               label="Monitor File&apos;s"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eclipsematrix.checkin.toolbar.JpoCheckin"
            id="eclipsematrix.checkin.toolbar.jpoCheckin"
            name="jpoCheckin">
      </command>
      <command
            defaultHandler="eclipsematrix.checkin.toolbar.UICheckin"
            id="eclipsematrix.checkin.toolbar.uiCheckin"
            name="uiCheckin">
      </command>
      <command
            defaultHandler="eclipsematrix.checkin.toolbar.DMCheckin"
            id="eclipsematrix.checkin.toolbar.dmCheckin"
            name="dmCheckin">
      </command>
      <command
            defaultHandler="eclipsematrix.checkin.toolbar.MonitorFiles"
            id="eclipsematrix.checkin.toolbar.enableMonitoring"
            name="enableMonitoring">
      </command>
   </extension>

</plugin>
